ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0; }
  ul li {
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#7898ea), color-stop(44%, #275bdd), to(#09339b));
    background: linear-gradient(top, #7898ea 0%, #275bdd 44%, #09339b 100%); }
    ul li a {
      display: block;
      padding-top: 15px;
      height: 50px;
      font-size: 1.5em;
      color: white;
      text-decoration: none; }
      ul li a:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#ffff74), color-stop(44%, #ffff14), to(#e7e700));
        background: linear-gradient(top, #ffff74 0%, #ffff14 44%, #e7e700 100%); }
    ul li img {
      height: 40px;
      padding-bottom: 15px; }

nav {
  display: inline-block;
  padding-left: 15px; }

html, body {
  height: 100%;
  font-family: Signika, Arial, sans-serif; }

.container {
  background-color: #e1e1e1;
  height: 100%;
  padding: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

#header {
  background-color: #ffc245;
  margin: 0;
  padding: 0;
  display: inherit; }

#logo {
  width: 175px;
  display: inline-block; }
  #logo img {
    width: 175px;
    height: auto; }

#avatar {
  width: 300px;
  height: 300px; }
  #avatar img {
    width: 300px;
    height: 300px; }

.speech {
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 1em 0;
  color: #000;
  background: #f3961c;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9d835), to(#f3961c));
  background: linear-gradient(top, #f9d835, #f3961c);
  height: 125px;
  white-space: nowrap; }
  .speech:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    left: -20px;
    width: 0;
    border-width: 15px 0 0 20px;
    border-style: solid;
    border-color: #f3961c transparent; }
  .speech:nth-of-type(n + 3) {
    display: none; }

.row section {
  margin-top: 25px;
  margin-bottom: 25px; }

.col-lg-4 {
  display: inline-block;
  height: 150px;
  background-color: #bf71ea;
  border-radius: 10px;
  margin: 0 auto; }

#manual, #import {
  padding: 40px; }

.col-xs-12, .col-sm-12, .col-lg-3 {
  background-color: #ffc245;
  height: 250px;
  margin: 1em 1em 3em; }

.offset-1 blockquote {
  padding-top: 15px; }

.offset-1 button {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0; }

aside {
  height: 100%;
  width: 300px;
  background: #e5e5e7; }
  aside #store {
    background: -webkit-gradient(linear, left top, left bottom, from(#bf71ea), color-stop(44%, #981cdd), to(#65059a));
    background: linear-gradient(top, #bf71ea 0%, #981cdd 44%, #65059a 100%);
    display: block;
    width: 300px;
    height: auto;
    border: 1px solid black;
    margin-left: 0;
    margin-right: 0;
    padding: 12px; }
    aside #store p {
      display: inline-block; }
    aside #store .btn {
      display: block; }
  aside * {
    margin: 0;
    padding: 0; }
  aside .menu-item {
    background: #fff;
    width: 300px;
    height: auto;
    position: relative;
    border: 1px solid black; }
    aside .menu-item h2 {
      color: #000;
      font-size: 1.5em;
      font-weight: 500;
      padding: 12px;
      width: 300px;
      background: -webkit-gradient(linear, left top, left bottom, from(#bf71ea), color-stop(44%, #981cdd), to(#8d07d7));
      background: linear-gradient(top, #bf71ea 0%, #981cdd 44%, #8d07d7 100%); }
      aside .menu-item h2 a {
        color: white;
        display: block;
        text-decoration: none;
        width: 300px; }
        aside .menu-item h2 a img {
          position: absolute;
          top: 15px;
          right: 15px;
          width: 25px;
          height: 25px;
          float: right; }
    aside .menu-item p {
      padding: 7px 12px;
      display: inline-block; }
    aside .menu-item div {
      height: 0;
      overflow: hidden;
      -webkit-transition: height 1s ease;
      transition: height 1s ease; }
      aside .menu-item div label, aside .menu-item div input {
        margin: 10px auto 12px 12px; }
    aside .menu-item .btn {
      display: block;
      margin: 10px auto 12px 12px; }
    aside .menu-item:hover div {
      height: auto; }
