// Content

#header {
  background-color: $complementary-color2;
  margin: 0;
  padding: 0;
  display: inherit;
}

#logo {
  width: 175px;
  display: inline-block;

  img {
    width: 175px;
    height: auto;
  }

}

#avatar {
  width: 300px;
  height: 300px;

  img {
    width: 300px;
    height: 300px;
  }

}

.speech {
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 1em 0;
  color: #000;
  background: #f3961c;
  border-radius: 10px;
  background: linear-gradient(top, #f9d835, #f3961c);
  height: 125px;
  white-space: nowrap;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    left: -20px;
    width: 0;
    border-width: 15px 0 0 20px;
    border-style: solid;
    border-color: #f3961c transparent;
  }

  &:nth-of-type(n + 3) {
    display: none;
  }
}

.row section {
  margin-top: 25px;
  margin-bottom: 25px;
}

.col-lg-4 {
  display: inline-block;
  height: 150px;
  background-color: $secondary-color1-1;
  border-radius: 10px;
  margin: 0 auto;
}


#manual, #import {
  padding: 40px;
}

.col-xs-12, .col-sm-12, .col-lg-3{
  background-color: $complementary-color2;
  height: 250px;
  margin: 1em 1em 3em;
}

.offset-1 blockquote {
  padding-top: 15px;
}

.offset-1 button {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
}

aside {
  height: 100%;
  width: 300px;
  background: #e5e5e7;

  #store {
    background: linear-gradient(top, $secondary-color1-1 0%, $secondary-color1-3 44%, $secondary-color1-5 100%);
    display: block;
    width: 300px;
    height: auto;
    border: 1px solid black;
    margin-left: 0;
    margin-right: 0;
    padding: 12px;

    p {
      display: inline-block;
    }

    .btn {
      display: block;
    }
  }

  * {
    margin: 0;
    padding: 0;
  }

  .menu-item {
    background: #fff;
    width: 300px;
    height: auto;
    position: relative;
    border: 1px solid black;

    h2 {
      color: #000;
      font-size: 1.5em;
      font-weight: 500;
      //padding-left: 10px;
      padding: 12px;
      width: 300px;
      background: linear-gradient(top, $secondary-color1-1 0%, $secondary-color1-3 44%, $secondary-color1-4 100%);

      a {
        color: white;
        display: block;
        text-decoration: none;
        width: 300px;

        img {
          position: absolute;
          top: 15px;
          right: 15px;
          width: 25px;
          height: 25px;
          float: right;
        }

      }
    }

    p {
      padding: 7px 12px;
      display: inline-block;
    }

    div {
      height: 0;
      overflow: hidden;
      transition: height 1s ease;

      label, input {
        margin: 10px auto 12px 12px;
      }
    }

    .btn {
      display: block;
      margin: 10px auto 12px 12px;
    }

    &:hover div {
      height: auto;
    }
  }

}


