// Navigation

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    background: linear-gradient(top, $primary-color1 0%, $primary-color3 44%, $primary-color5 100%);

    a {
      display: block;
      padding-top: 15px;
      height: 50px;
      font-size: 1.5em;
      color: white;
      text-decoration: none;
      
      &:hover {
        background: linear-gradient(top, $secondary-color2-1 0%, $secondary-color2-3 44%, $secondary-color2-5 100%);
      }
    }

    img {
      height: 40px;
      padding-bottom: 15px;
    }
  }
}

nav {
  display: inline-block;
  padding-left: 15px;
}